body {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-family: "PT Sans", sans-serif;
}

/**Navigation Menu*/

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f8f3fd;
  transition: 0.2s ease-in;
}

.left {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  transition: 0.2s ease-in;
}

.item {
  text-decoration: none;
  color: black;
  margin: 0 10px 0 10px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  transition: 0.2s ease-in;
}

.item:hover {
  color: #60269e;
}

.button {
  background-color: #60269e;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
}

.button:hover {
  color: white;
}

@media screen and (max-width: 860px) {
  .left {
    font-size: 24px;
    transition: 0.2s ease-in;
  }

  .item {
    font-size: 14px;
    transition: 0.2s ease-in;
  }
}

@media screen and (max-width: 780px) {
  .navbar {
    flex-direction: column;
  }

  .item {
    margin-top: 10px;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/**hero section**/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.highlighted {
  border: 1px solid #60269e;
  border-radius: 15px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  transition: 0.2s ease-in;
}

.main-hero-text {
  font-size: 60px;
  max-width: 800px;
  text-align: center;
  font-weight: 800;
  line-height: 1;
  transition: 0.2s ease-in;
}

.sub-hero-text {
  font-size: 16px;
  line-height: 1.3;
  max-width: 500px;
  text-align: center;
  margin-bottom: 2px;
  position: relative;
  bottom: 45px;
  transition: 0.2s ease-in;
}

.button-hero {
  position: relative;
  bottom: 15px;
  background-color: #60269e;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 860px) {
  .main-hero-text {
    font-size: 50px;
    transition: 0.2s ease-in;
  }
  .sub-hero-text {
    font-size: 16px;
    transition: 0.2s ease-in;
  }
  .button-hero {
    font-size: 14px;
    transition: 0.2s ease-in;
  }
}

@media screen and (max-width: 600px) {
  .main-hero-text {
    font-size: 30px;
    transition: 0.2s ease-in;
    max-width: 400px;
  }

  .highlighted {
    font-size: 10px;
    padding: 6px;
  }
  .sub-hero-text {
    font-size: 14px;
    transition: 0.2s ease-in;
    margin-top: 30px;
    max-width: 300px;
  }
  .button-hero {
    font-size: 14px;
    transition: 0.2s ease-in;
  }
}

/**Stats Section*/

.stat-section {
  background-color: #f8f3fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px 0;
}

.stat-text {
  font-size: 35px;
  font-weight: 900;
}

.stat-container {
  display: flex;
  margin: 0 12px 0 12px;
}

.stat-container img {
  margin: 16px 15px 0px 15px;
}

.stat-organizer {
  margin: 0 25px 0 0;
}

.stat-organizer h2 {
  font-size: 18px;
}

.stat-organizer p {
  font-size: 12px;
  font-weight: bold;
  color: #883cda;
  position: relative;
  bottom: 10px;
}

@media screen and (max-width: 860px) {
  .stat-text {
    font-size: 25px;
    transition: 0.2s ease-in;
  }

  .stat-container img {
    margin: 16px 15px 0px 15px;
    width: 30px;
    transition: 0.2s ease-in;
  }

  .stat-organizer h2 {
    font-size: 14px;
    transition: 0.2s ease-in;
  }

  .stat-organizer p {
    font-size: 10px;
    transition: 0.2s ease-in;
  }
}

@media screen and (max-width: 600px) {
  .stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-text {
    font-size: 18px;
  }

  .stat-organizer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stat-container img {
    margin: 0;
  }
}

/**Story Section*/

.story-section {
  display: flex;
  padding: 100px 180px;
  border-bottom: 1px solid #c0c0c0;
  justify-content: center;
  align-items: center;
}

.story-left,
.story-right {
  margin: 0 60px;
}

.story-left h1 {
  font-size: 40px;
  position: relative;
}
.story-left h3 {
  font-size: 20px;
  max-width: 350px;
}

.story-left p {
  font-size: 16px;
  max-width: 350px;
  margin-top: 30px;
}

.story-right img {
  border-radius: 15px;
  width: 450px;
}

@media screen and (max-width: 1365px) {
  .story-right img {
    border-radius: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .story-left h1 {
    font-size: 30px;
    position: relative;
    transition: 0.2s ease-in;
  }
  .story-left h3 {
    font-size: 18px;
    max-width: 350px;
    transition: 0.2s ease-in;
  }

  .story-left p {
    font-size: 14px;
    max-width: 350px;
    margin-top: 30px;
    transition: 0.2s ease-in;
  }

  @media screen and (max-width:1000px) {
    .story-section{
      display: grid;
      padding: 30px;
    }
  }
}

/**What Sets Us Apart*/
.set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.set h1 {
  font-size: 35px;
}

.set-container {
  background-color: #f8f3fd;
  padding: 40px 130px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-container h2 {
  text-align: center;
  font-size: 22px;
}

.set-container p {
  text-align: center;
  font-size: 18px;
  position: relative;
  bottom: 15px;
  max-width: 600px;
}

.aleft {
  background-color: white;
  padding: 12px 15px;
  border-radius: 100px;
  position: relative;
  top: 100px;
  right: 430px;
  box-shadow: 3px 3px 5px rgba(222, 102, 233, 0.2),
    -3px 3px 5px rgba(222, 102, 233, 0.2);
}

.aright {
  background-color: white;
  padding: 12px 15px;
  border-radius: 100px;
  position: relative;
  bottom: 200px;
  left: 430px;
  box-shadow: 3px 3px 5px rgba(222, 102, 233, 0.2),
    -3px 3px 5px rgba(222, 102, 233, 0.2);
}

@media screen and (max-width: 1000px ) {
.set-container {
  padding: 40px 90px;
  transition: 0.2s ease-in-out;
}

.aleft {
  position: relative;
  top: 100px;
  right: 390px;
    transition: 0.2s ease-in-out;

}

.aright {
  background-color: white;
  position: relative;
  bottom: 200px;
  left: 390px;
    transition: 0.2s ease-in-out;

  }

}

@media screen and (max-width: 850px ) {
.set-container {
  padding: 40px 70px;
  transition: 0.2s ease-in-out;
}

.set h1 {
  font-size: 25px;
      transition: 0.2s ease-in-out;

}

.set-container h2 {
  text-align: center;
  font-size: 18px;
}

.set-container p {
  text-align: center;
  font-size: 14px;
}

.aleft {
  right: 370px;
    transition: 0.2s ease-in-out;

}

.aright {
  background-color: white;
  position: relative;
  bottom: 170px;
  left: 370px;
    transition: 0.2s ease-in-out;

  }

}


@media screen and (max-width: 780px ) {
.set-container {
  padding: 40px 0px;
  transition: 0.2s ease-in-out;
}

.set h1 {
  font-size: 18px;
      transition: 0.2s ease-in-out;

}

.set-container h2 {
  text-align: center;
  font-size: 16px;
}

.set-container p {
  text-align: center;
  font-size: 12px;
    max-width: 400px;

}

.aleft {
  top: 75px;
  right: 200px;
    transition: 0.2s ease-in-out;

}

.aright {
  background-color: white;
  position: relative;
  bottom: 170px;
  left: 200px;
    transition: 0.2s ease-in-out;

  }

}


/**Join Section*/

.join-section {
  display: flex;
  padding: 100px 180px 180px 180px;
  justify-content: center;
}

.join-left,
.join-right {
  margin: 0 60px;
}

.join-right {
  position: relative;
}

.join-left h1 {
  font-size: 40px;
  position: relative;
  max-width: 450px;
}

.points li {
  max-width: 400px;
  line-height: 1.4;
}

.side-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 130px;
  z-index: 99;
  object-fit: cover;
  position: relative;
}

.back-image {
  position: absolute;
  right: 3rem;
  margin-top: 12px;
  z-index: 0;
}

.down-image {
  position: absolute;
  right: 25rem;
  margin-top: 20.3rem;
  z-index: 0;
}

@media screen and (max-width:1220px ){
  .join-left,
.join-right {
  margin: 0 30px;
}
}

@media screen and (max-width:1098px ){
.join-left h1 {
  font-size: 30px;
  position: relative;
  max-width: 450px;
}

.points li {
  max-width: 300px;
  font-size: 14px;
}
}

@media screen and (max-width:1000px ){
  .join-section {
  display: grid;
  padding: 100px 180px 180px 180px;
  justify-content: center;
}
.side-image {
  width: 400px;
 
}

.down-image {
  position: absolute;
  right: 20rem;
  margin-top: 20.3rem;
  z-index: 0;
}


.join-left h1 {
  font-size: 30px;
  position: relative;
  max-width: 450px;
}

.points li {
  max-width: 300px;
  font-size: 14px;
}
}

/**Grow Your Career**/

.grow-section {
  display: flex;
  padding: 20px 40px 60px 40px;
  background-color: #60269e;
  margin: 0 11rem;
  border-radius: 20px;
  align-items: center;
}
.grow-left,
.grow-right {
  margin: 0 60px;
}
.grow-left h1 {
  font-size: 35px;
  color: white;
  max-width: 300px;
}

.grow-left p {
  color: white;
  max-width: 350px;
  font-weight: 200;
}

.course-button {
  font-size: 18px;
  margin-top: 40px;
}

.course-button a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  border: 3px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.grow-right img {
  width: 450px;
  margin-top: 80px;
}

@media screen and (max-width: 1395px) {
  .grow-right img {
  width: 100%;
}

.grow-left h1 {
  font-size: 30px;

}

.grow-left p {
  color: white;

}

.course-button {
  font-size: 16px;
  margin-top: 40px;
}

}

@media screen and (max-width: 1114px) {
 
 
.grow-section {
  display: grid;

}

}

@media screen and (max-width: 880px) {
.grow-right img {
  width: 350px;
  margin-top: 80px;
}

.grow-left,
.grow-right {
  margin: 0 30px;
}
.grow-left h1 {
  font-size: 25px;
  color: white;
  max-width: 300px;
  text-align: center;
}

.grow-left p {
  color: white;
  max-width: 350px;
  font-weight: 200;
    text-align: center;
    font-size: 14px;

}

.course-button {
    text-align: center;

}

.course-button a {
  font-size: 14px;
  margin-top: 40px;
    text-align: center;

}

}

@media screen and (max-width: 510px) {

  .grow-section {
  padding: 20px 0 60px 0;
  background-color: #60269e;
  margin: 0 11rem;
  border-radius: 20px;
  align-items: center;
}


}

/**Our Mentors**/
.mentors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentors-section h1 {
  font-size: 30px;
  margin-top: 4em;
}

.mentors-section p {
  max-width: 450px;
  text-align: center;
  position: relative;
  bottom: 30px;
}

.people-container {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  margin: 0 14em;
  justify-content: center;
}

.purple {
  color: #60269e;
}

.person-container {
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 10px;
  border-radius: 10px;
}

.person-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 30px;
}

.persson-description {
  display: flex;
  max-width: 50px;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;

  position: relative;
  bottom: 10px;
}

.socials i {
  font-size: 25px;
  margin: 0 10px;
  color: #555555;
}

@media screen and (max-width: 1155px) {
  .people-container {
 
  grid-template-columns: 200px 200px 200px 200px;
    transition: 0.2s ease-in-out;
}

}

@media screen and (max-width: 815px) {
  .people-container {
 
  grid-template-columns: 270px;
    transition: 0.2s ease-in-out;
}

.person-container {
  margin: 10px;
}


}

/**Footer*/

.footer {
  background-color: #101828;
  color: white;
  padding: 50px 6rem 70px 6rem;
  border-bottom: 1px solid #eee;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.col-1 p {
  max-width: 300px;
}

.col h1 {
  font-size: 25px;
  font-weight: 300;
}
.col ul {
  list-style-type: none;
}

.col ul li {
  position: relative;
  right: 40px;
  line-height: 2;
}
.col ul li a {
  text-decoration: none;
  color: white;
}

.sub-footer {
  display: flex;
  justify-content: space-around;
  background-color: #101828;
  color: white;
  padding: 30px 0;
}

.footer-social i {
  margin: 20px 10px 0 10px;
}

@media screen and (max-width: 600px) {
  .footer-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col h1, .col-1 h1{
  position: relative;
  right: 20px;
}

}
